body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}
.wrapper {
    background: url("../img/899187-molecule-medical-biology-detail-medicine-psychedelic-science-abstract-abstraction-chemistry-genetics-748x650.jpg") no-repeat ;
    width: 100%;
    min-height: 100vh;
    /*padding-top: 10px;*/
    background-size: cover;
    position: relative;
}
.header {
    width: 80%;
    height: 70px;
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%),
    radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
}
.main {
    width: 80%;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(179,179,179,0.9);
    margin-top: 40px;
    text-align: center;
    color: #f26522;
    font-weight: bold;
    font-size: 25px;
    box-shadow: -1px 0 4px 6px rgba(223,221,235,1);
}
.header-button {
    height: 55px;
    width: 75px;
    border: none;
    border-radius: 6px;
    background-color: white;
    margin-right: 5px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    right: 15px;
    transition: all .3s ease-in-out;
}
.header-button:hover {
    cursor: pointer;
    color: rgb(255,255,255);
    background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
}
.logo {
    height: 80%;
    margin-top: 7px;
    margin-left: 10px;
    display: block;
    position: relative;
}
.logo-img{
    height: 55px;
    width: 55px;
}
.text {
    font-size: 16px;
    font-weight: bold;
    color: blue;
    position: absolute;
    margin-left: 68px;
    margin-top: 12px;
}
.href {
    text-decoration: none;
    color: blue;
}
.modal-window {
    width: 300px;
    height: 400px;
    background-color: rgba(230,230,230,1);
    margin-bottom: 5px;
    text-align: center;
    position: relative;
    left: 480px;
    top: -400px;
    display: none;
}
.select-form {
    text-align: center;
    padding-top: 17px;
}
input {
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
}
textarea {
    margin-top: 7px;
}
.close {
    border: 0;
    background-color: rgba(102,102,102,0.5);
    font-weight: bold;
    margin-left: 65px;
    font-size: large;
}
.list {
    margin-left: 80px;
}
.card-create {
    margin-top: 15px;
    border-radius: 15px;
    background-color: darkgreen;
    font-size: 17px;
    font-weight: bold;
    border: 0;
}
.optional {
    display: none;
}
.sentence {
    padding-top: 155px;
}

.active {
    display: block;
}

.visit-card {
    width: 155px;
    height: 105px;
    background-color: tomato;
    color: white;
    font-size: 10px;
    overflow: auto;
}

.cardInf {
    background-color: grey;
}

.hide {
    background-color: chartreuse;
    border-radius: 15px;
    border: 0;
}

.closeCard {
    background-color: black;
    color: red;
    border: 0;
}

li {
    list-style: none;
}